@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
