:root {
  /* color */
  --white: #ffffff;
  --black: #333333;
  --dark-black: #000;
  --gray: #a0a0a0;
  --gray-desc: #8b8b8b;
  --orange: #ff8137;
  --red: #ac0000;
  --prd-color-white: #d3d3d3;
  --prd-color-white-light: #f1f2ed;
  --prd-color-navy: #7bb1d4;
  --prd-color-turquoise: #4a6293;
  --prd-color-black: #3a3a3a;
  --prd-color-black-turquoise: #49556b;
  --prd-color-orange: #ff8137;

  /* fonts */
  --pro-display: "SF Pro Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  color: #333;
  background: rgba(247, 247, 247, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

select,
input,
textarea {
  outline: none;
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

/* header */

/* header */

.header {
  width: 100%;
  height: 70px;
  background: var(--white);
  display: flex;
  align-items: center;
}

.header_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 123px 1fr;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_list li {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.header_contact_actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.header_contacts,
.header_actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_icons {
  font-size: 18px;
}

.header_number {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

/* menu_burger */

.menu_burger {
  width: 18px;
  height: 14px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.menu_burger span {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: var(--black);
}

/* footer */

.footer {
  padding: 85px 0 20px 0;
  background: var(--dark-black);
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_item_two {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer_title {
  padding-bottom: 20px;
  color: var(--white);
  font-family: var(--pro-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
}

.footer_text {
  color: var(--white);
  font-family: var(--pro-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.8;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_email_btn {
  width: 300px;
  height: 45px;
  position: relative;
}

.footer_email {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(238, 238, 238, 1);
  border: none;
  padding: 0 25px;
  font-family: var(--pro-display);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2%;
}

.footer_email::placeholder {
  color: var(--black);
}

.footer_btn {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.footer_switch {
  padding-top: 20px;
  display: flex;
  gap: 14px;
}

.footer_switch p {
  color: #8d8d8d;
  font-family: var(--pro-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.4s;
  border-radius: 10px;
  background: rgba(51, 51, 51, 1);
}

.slider:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--prd-color-navy);
}

input:checked + .slider:before {
  transform: translateX(9.5px);
}

.footer_techno_shop {
  margin-top: 180px;
  width: 100%;
  height: 183px;
  object-fit: contain;
}

.footer_bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_bottom_right {
  display: flex;
  align-items: center;
  gap: 28px;
}

.footer_bottom p {
  color: #4a4a4a;
  font-family: var(--pro-display);
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
}

/* media 430 */

@media (max-width: 431px) {
  /* container */

  .container {
    padding: 0px 15px;
  }

  /* header */

  .header_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header_wrapper nav {
    display: none;
  }

  .header_contacts {
    display: none;
  }

  /* menu_burger */

  .menu_burger {
    display: flex;
  }

  /* footer */

  .footer {
    padding: 40px 0 15px 0;
    height: auto;
  }

  .footer_wrapper {
    flex-direction: column;
    gap: 60px;
  }

  .footer_email_btn {
    width: 100%;
  }

  .footer_item_two {
    gap: 60px;
  }

  .footer_techno_shop {
    margin-top: 100px;
    height: 50px;
  }

  .footer_bottom {
    margin-top: 15px;
  }

  .footer_bottom,
  .footer_bottom_right {
    align-items: start;
    flex-direction: column;
    gap: 5px;
  }
}
