* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  color: #333;
  background: rgba(247, 247, 247, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

select,
input,
textarea {
  outline: none;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}
