/* product colors */

.prd_color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow:
    inset 2px 2px 7px 0px rgba(0, 0, 0, 0.25),
    3px -1px 8px 0px rgba(0, 0, 0, 0.1);
}

.prd_color-white {
  background: var(--prd-color-white);
}

.prd_color-white-light {
  background: var(--prd-color-white-light);
}

.prd_color-navy {
  background: var(--prd-color-navy);
}

.prd_color-turquoise {
  background: var(--prd-color-turquoise);
}

.prd_color-black {
  background: var(--prd-color-black);
}

.prd_color-black-turquoise {
  background: var(--prd-color-black-turquoise);
}

.prd_color-orange {
  background: var(--prd-color-orange);
}

/* main */

.main_title {
  margin: 0 auto;
  width: 100%;
  font-family: var(--pro-display);
  font-size: 45px;
  font-weight: 800;
  line-height: 110%;
  text-align: center;
}

.main_title-one {
  width: 600px;
}

/* hero */

.hero {
  width: 100%;
  height: calc(100svh - 70px);
}

.hero .swiper {
  height: 100%;
}

.hero .swiper-slide {
  display: flex;
  justify-content: center;
  background-color: #333;
  position: relative;
}

.hero_foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.hero_content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 391px;
}

.hero_content-white .hero_title,
.hero_content-white .hero_subtitle {
  color: var(--white);
}

.hero_title {
  font-family: var(--pro-display);
  font-weight: 800;
  font-size: 60px;
  line-height: 88%;
  text-align: center;
}

.hero_subtitle {
  font-family: var(--pro-display);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.hero_card {
  width: 225px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.35),
    rgba(195, 195, 195, 0.15)
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translateX(-50%);
}

.hero_card_foto {
  width: 100%;
  height: 185px;
  border-radius: 10px;
  object-fit: cover;
}

.hero_card_controller {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 15px 0px;
}

.hero_card_controller img {
  cursor: pointer;
}

.hero_card_play {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  color: #000000;
}

.hero_card_title {
  color: var(--white);
  font-family: var(--pro-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

.hero_card_price {
  padding-top: 10px;
  color: var(--white);
  font-family: var(--pro-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}

.hero .swiper-pagination {
  right: auto;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: auto !important;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 50px;
  background: rgba(195, 195, 195, 0.2);
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(4px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.hero .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: var(--white);
  opacity: 1;
}

.hero .swiper-pagination-bullet-active {
  width: 18px;
  border-radius: 50px;
}

/* benefits */

.benefits {
  padding-top: 100px;
}

.benefits-brands-swiper {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.benefits .swiper-wrapper {
  transition-timing-function: linear !important;
}

.benefits .swiper-slide {
  width: 166px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(240, 240, 240, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefits_item {
  padding: 20px;
  border-radius: 10px;
  background: var(--white);
}

.benefits_title {
  padding-top: 20px;
  color: var(--black);
  font-family: var(--pro-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
}

.benefits_subtitle {
  padding-top: 10px;
  color: var(--gray);
  font-family: var(--pro-display);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
}

/* best */

.best {
  padding-top: 100px;
}

.best_wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.best_item {
  position: relative;
  padding: 15px;
  cursor: pointer;
}

.best_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.best_btn {
  color: var(--white);
  font-family: var(--pro-display);
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  border-radius: 20px;
  padding: 7px 15px;
}

.best_btn-orange {
  background: var(--orange);
}

.best_btn-black {
  background: var(--black);
}

.best_foto_bg {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.best_foto {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.best_title {
  font-family: var(--pro-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.best_price {
  font-family: var(--pro-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  padding-top: 10px;
}

.best_color_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* prodcut */

.product {
  margin-top: 100px;
}

.product_mini_scrool {
  margin-top: 30px;
  margin-bottom: 50px;
  scroll-behavior: smooth;
  overflow-x: auto;
  padding: 15px 0;
}

.product_mini_scrool::-webkit-scrollbar {
  display: none;
}

.product_mini_wrapper {
  display: flex;
  gap: 70px;
  width: max-content;
  margin: 0 auto;
  padding: 0 70px;
  scroll-snap-type: x mandatory;
}

.product_mini_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 93px;
  min-width: 93px;
  scroll-snap-align: center;
}

.product_mini_card_foto {
  width: 100%;
  height: 110px;
  object-fit: contain;
}

.product_mini_card_title {
  width: 100%;
  color: var(--dark-black);
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.product-swiper {
  position: relative;
  padding-bottom: 86px !important;
  overflow: visible;
}

.product-swiper .swiper-slide {
  width: 407px;
  height: 561px;
  flex-shrink: 0;
}

.product_card {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background: var(--white);
  position: relative;
}

.product_card img {
  width: 100%;
  height: 367px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.product_card_colors {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 34px;
  padding: 0px 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px) saturate(130%);
  -webkit-backdrop-filter: blur(30px) saturate(130%);
  border: 1px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  top: 338px;
  left: 50%;
  transform: translateX(-50%);
}

.product_new {
  color: var(--red);
  font-family: var(--pro-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}

.product_title {
  padding-top: 5px;
  font-family: var(--pro-display);
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.product_desc {
  padding-top: 10px;
  color: var(--gray-desc);
  font-family: var(--pro-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

.product_price {
  padding-top: 15px;
  font-family: var(--pro-display);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.product_swipper_arrows {
  position: absolute;
  width: 128px;
  bottom: 32px;
  right: 90px;
}

.product-swiper .swiper-button-prev,
.product-swiper .swiper-button-next {
  width: 54px;
  height: 54px;
  background: #f0f0f0;
  padding: 15px 20px;
  border-radius: 50%;
  color: var(--black) !important;
  opacity: 1 !important;
}

/* article */

.article {
  padding-top: 100px;
}

.article_wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.article_item {
  width: 406px;
  border-radius: 20px;
  box-shadow: 4px 5px 31px 0px rgba(0, 0, 0, 0.07);
  background: var(--white);
  transition: 0.3s linear;
}

.arcile_foto {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.article_content {
  padding: 20px;
}

.article_title {
  background: linear-gradient(
    173.4deg,
    rgb(63, 63, 63) -23.124%,
    rgb(255, 129, 55) 53.651%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-clip: text;
  color: transparent;
  font-family: var(--pro-display);
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}

.article_desc {
  padding-top: 15px;
  color: var(--gray-desc);
  font-family: var(--pro-display);
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.article_btn {
  margin-top: 20px;
  width: 189px;
  height: 36px;
  border-radius: 5px;
  background: var(--black);
  color: #f4f4f4;
  font-family: var(--pro-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.article_item:hover {
  cursor: pointer;
  background: var(--dark-black);
}

.article_item:hover .article_title {
  background: none;
  -webkit-text-fill-color: var(--white);
  color: var(--white);
}

.article_item:hover .article_desc {
  color: var(--white);
}

.article_item:hover .article_btn {
  background: var(--white);
  color: var(--dark-black);
}

/* contact */

.contact {
  margin-top: 100px;
  width: 100%;
  height: 230px;
  background: #f0f0f0;
}

.contact_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_title {
  font-family: var(--pro-display);
  font-size: 60px;
  font-weight: 800;
  line-height: 88%;
}

.contact_social {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact_social_item a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--pro-display);
  font-size: 18px;
  font-weight: 400;
  line-height: 103%;
}

.contact_phone {
  width: 420px;
  height: 230px;
  object-fit: cover;
  object-position: 0 -40px;
}

/* media 430 */

@media (max-width: 431px) {
  /* main style */

  .main_title {
    width: 100%;
    font-size: 25px;
    font-weight: 700;
  }

  /* hero */

  .hero {
    height: 700px;
  }

  .hero_content {
    width: 86%;
    gap: 10px;
  }

  .hero_title {
    font-size: 45px;
  }

  .hero_subtitle {
    font-size: 14px;
  }

  .hero_card {
    width: 209px;
    bottom: 67px;
  }

  .hero_card_foto {
    height: 169px;
  }

  .hero_card_controller img {
    width: 14px;
    height: 14px;
  }

  .hero_card_play {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }

  .hero_card_price {
    font-size: 14px;
  }

  .hero .swiper-pagination {
    padding: 0 15px;
    height: 25px;
  }

  /* benefits */

  .benefits .swiper-slide {
    width: 91px;
    height: 54px;
    margin-right: 7px !important;
    padding: 20px;
  }

  .benefits .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .benefits_wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .benefits_item img {
    width: 24px;
    height: 24px;
  }

  .benefits_title {
    font-size: 18px;
  }

  .benefits_subtitle {
    font-size: 16px;
  }

  /* best */

  .best_wrapper {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 25px;
  }

  .best_item {
    padding: 6px;
  }

  .best_buttons {
    top: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .best_btn {
    width: auto;
    padding: 5px 0;
  }

  .best_foto_bg {
    height: 167px;
    padding: 10px;
  }

  .best_title {
    font-size: 14px;
    font-weight: 400;
  }

  .best_price {
    font-size: 14px;
    line-height: 17px;
  }

  /* prodcut */

  .product_mini_scrool {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .product_mini_wrapper {
    gap: 15px;
    padding: 0 15px;
  }

  .product_mini_card {
    width: 82px;
    min-width: 82px;
  }

  .product_mini_card_foto {
    padding: 0 18px;
    height: 56px;
  }

  .product_mini_card_title {
    font-size: 12px;
  }

  .product-swiper {
    padding: 0 0px 75px 0px !important;
  }

  .product-swiper .swiper-slide {
    width: 325px;
    height: 479px;
  }

  .product_card img {
    height: 285px;
  }

  .product_card_colors {
    top: 276px;
  }

  .product_content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .product_new {
    font-size: 10px;
  }

  .product_title {
    font-size: 18px;
  }

  .product_price {
    font-size: 18px;
    margin-top: auto;
  }

  .product_swipper_arrows {
    bottom: 32px;
    right: 10px;
  }

  .product-swiper .swiper-button-prev,
  .product-swiper .swiper-button-next {
    width: 45px;
    height: 45px;
    padding: 10px 15px;
  }

  /* article */

  .article_item {
    width: 90%;
    min-width: 90%;
  }

  .article_wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    gap: 10px;

    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 15px;
  }

  .article_title {
    font-size: 18px;
  }

  .article_btn {
    width: 100%;
  }

  /* contact */

  .contact {
    padding-top: 40px;
    height: auto;
  }

  .contact_wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .contact_title {
    font-size: 45px;
  }

  .contact_social_item a {
    font-size: 15px;
  }

  .contact_social_item a img {
    width: 24px;
    height: 24px;
  }

  .contact_social {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 10px 15px;
  }

  .contact_social::-webkit-scrollbar {
    display: none;
  }

  .contact_phone {
    width: 100%;
    height: 270px;
    object-position: 0 15%;
    margin-bottom: auto;
  }

}
